<ion-header>
    
    <ion-navbar>
        <ion-title>{{ dishGroup.category | uppercase }}</ion-title>
    </ion-navbar>
    
 </ion-header>
    
    
 <ion-content padding>
    <ion-card *ngFor="let dish of dishGroup.dishes; let i = index">
        <ion-card-header>
          #{{ i + 1 }} {{ dish.name }}
        </ion-card-header>
        <ion-card-content>
          <p class="ingredients">Ingredients: {{ dish.ingredients }}</p>
          <ion-row>
              <ion-img width="180" height="180" src="{{dish.img}}" text-center></ion-img>
          </ion-row>  
        </ion-card-content>
        <ion-row>
            <ion-col text-right>
              <button
                ion-button
                clear
                small
                (click)="onSelectDish(dish)"
                *ngIf="!isDishSelected(dish)">Select</button>
              <button
                ion-button
                clear
                small
                color="danger"
                (click)="onRemoveDish(dish)"
                *ngIf="isDishSelected(dish)">Remove</button>
            </ion-col>
        </ion-row>  
    </ion-card>
 </ion-content>
    